#title {
    text-align: center;
    font-size: 3.8em;
}
#title > h1 {
    /*font-family: 'Merriweather Sans', serif;*/
    font-family: 'Lato', sans-serif;
    font-weight: lighter;
}
#titleimg {
    width: 133px;
    vertical-align: -13px;
}
#subtitle {
    margin-top: -40px;
    text-align: center;
    font-size: 1.5em;
}
#subtitle > h3 {
    color: rgba(0, 0, 0, 0.92);
    font-style: italic;
    font-weight: 300;
    font-size: 1.4em;
    font-family: 'Lato', sans-serif;
}
#headerexplain {
    font-size: 1.6125em;
    font-style: italic;
}
#maincontainer {
    margin-left: auto;
    margin-right: auto;
    max-width: 1000px;
    width: 50%;
    padding-top: 1%;
    padding-bottom: -11%;
    margin-bottom: -1%;
}
.statusdiv {
    display: block;
}
.statusdiv > h4 {
    display: inline-block;
}
.statusdiv > span {
    display: inline-block;
    float: right;
}
p {
    /*font-family: 'Merriweather Sans', sans-serif;*/
    font-family: 'Lato', sans-serif;
    font-size: 20px;
    font-weight: 400;
}
b {
    text-transform: uppercase;
}
a {
    color: #505050;
    text-decoration: none;
}
