#title > h2 {
    font-weight: 100;
    font-family: Lato;
}
.subtitle {
    font-style: italic;
    font-size: 1.3em;
}
#apiNav {
    padding-left: 40px;
    font-size: 1.3em;
}
#apiNav > ul {
    line-height: 200%;
    font-family: Lato;
}
.active {
    text-decoration: underline !important;
}
.inactive {
    text-decoration: none !important;
}
.docsTitle {
    font-family: Lato;
    font-weight: 600;
    font-style: italic;
    font-size: 2.5em;
}
#docsContainer {
    max-width: 900px;
    font-size: 1.35em;
}
.hiddenDoc {
    display: none !important;
}
.json {
    overflow: auto;
    padding: 6px;
    margin-top: 7px;
}
.jsonview .prop {
    font-weight: inherit;
}
.jsonview {
    font-size: 0.9em;
}
.div-language {
    margin-top: 10px;
    font-variant: small-caps;
}
.codeblock {
    padding: 6px !important;
    width: 800px;
}
#example-1 {
    padding-top: 20px;
    padding-bottom: 0px;
    display: inline-block;
}
.text-link {
    text-decoration: none;
    color: black;
    font-style: italic;
}
.main-container {
    padding-left: 30px; 
    display: table;
}
.main-p {
    margin-bottom: 0.8em;
}
.span-h6 {
    display: inline-block;
    float: left;
}
.span-h6 > h6 {
    font-weight: 100;
    min-width: 100px;
}