body {
    font-style: normal;
    font-weight: 400;
    font-size: 13px;
    text-transform: none;
    text-decoration: none;
    letter-spacing: 0.063em;
    word-spacing: 0.12em;
    line-height: 1.56;
    font-family: 'Lato', sans-serif;
    font-family: 'Merriweather Sans', sans-serif;
}
#menubar {
    background: white;
    padding: 20px;
}
.menuitem {
    color: black;
    transition: .1s ease-out;
}
.navbar-pills a {
    /*text-transform: */
}
.navbar-pills a:hover {
    color: white;
    background: black;
}
.navbar a:hover {
    text-decoration: none;
}
#activeMenuItem {
    background: black;
}
#activeMenuItem a {
    color: white;
}
#title {
    font-size: 3.8em;
    text-align: center;
}
#title > h1 {
    /*font-family: 'Merriweather Sans', serif;*/
    font-family: 'Lato', sans-serif;
    font-weight: lighter;
}
#titleimgs {
    width: 133px;
    vertical-align: -13px;
}
#subtitle {
    margin-top: -40px;
    text-align: center;
    font-size: 1.5em;
}
#subtitle > h3 {
    color: rgba(0, 0, 0, 0.92);
    font-style: italic;
    font-weight: 300;
    font-size: 1.4em;
    font-family: 'Lato', sans-serif;
}
/*font-style: normal;
font-weight: 400;
font-size: 13px;
text-transform: none;
text-decoration: none;
letter-spacing: 0.063em;
word-spacing: 0.12em;
line-height: 1.56;*/
