<!doctype html>
<html lang="en">

<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />

    <meta property="og:title" content="Wes Api" />
    <meta property="og:url" content="http://????????/" />
    <meta property="og:image" content="/static/bunchie.jpg" />
    <meta property="og:description" content="Unofficial API for Wesleyan University related information" />
    <meta property="og:site_name" content="Wes Api" />
    <title>Wes Api</title>
    <script src="http://code.jquery.com/jquery-1.11.1.min.js"></script>
    <script src="/static/kube.min.js"></script>
    <link rel="stylesheet" href="/static/kube.min.css">
    <link rel="stylesheet" href="/static/index.css">
</head>

<body>
    <nav class="navbar navbar-pills nav-fullwidth" id="menubar">
        <ul>
            <li>
                <a href="#" class="menuitem">Home</a>
            </li>
            <li>
                <a href="#" class="menuitem">Try it out</a>
            </li>
            <li>
                <a href="#" class="menuitem">Documentation</a>
            </li>
            <li>
                <a href="#" class="menuitem">About</a>
            </li>
        </ul>
    </nav>
    <div id="title">
        <h1>Wes API</h1>
    </div>
    <div id="subtitle">
        <h3>Your one stop shop for Wesleyan info</h3>
    </div>
    <div class="units-row units-padding" id="maincontainer">
	    <div class="unit-50">
	    	<p class="lead">
	    		<b>What does it do?:</b>
		    		<br>Wes API scrapes, aggregates, and serves data from sources including <i>Wesleying, Wesleyan Events, Wesleyan Film Series, Usdan, Summerfields, WesMaps</i>, and various other pages.</p>
			    	<p>Wes API scrapes, aggregates, and serves data from sources including Wesleying, Wesleyan Events, Wesleyan Film Series, Usdan, Summerfields</p>
	    </div>
	    <div class="unit-push-right unit-40" id="userreviews">
	        <h4><i>What are users saying?</i></h4>
	        <blockquote>
	            Lonnie: Much data.<br>
	            Prancer: So data.<br>
	            Crinkles: Very data.<br>
	            Wilfred: Such consensus.<br>
	            Puddles: Wow.
	        </blockquote>
	    </div>
	</div>
	<div class="units-row units-padding" id="maincontainer">
	    <div class="unit-50">
	    	<p class="lead">Here's Tonight's Usdan Menu (RANDOM BUTTON?)
	    </div>
	    <div class="unit-push-right unit-40" id="userreviews">
	        <h4>STATUS-O-METER!</h4>
	        <h2>ALL SYSTEMS OFFLINE</h2>
	    </div>
	</div>

</body>

</html>