{% extends "layout.html" %} {% block title %}Home{% endblock %} {% block head %} {{ super() }}
<script src="/static/index.js"></script>
<link rel="stylesheet" href="/static/index.css">{% endblock %} {% block content %}

<body>
    <div id="title">
        <h1>
            <!-- <img id="titleimg" src="/static/icon2.png" -->Wes API</h1>
    </div>
    <div id="subtitle">
        <h3>Your one stop shop for Wesleyan info</h3>
    </div>
    <div class="units-row units-padding" id="maincontainer">
        <div class="unit-50">
            <h3 class="sectionHeader">What does it do?</h3>
            <p>
                Wes API scrapes, aggregates, and provides standardized programmatic access to data from sources including <i><a href="http://wesleying.org/">Wesleying</a>, <a href="http://events.wesleyan.edu/">Wesleyan Events</a>, <a href="http://www.wesleyan.edu/filmseries/">Wesleyan Film Series</a>, <a href="http://wesleyan.cafebonappetit.com/">Usdan</a>,<a href="http://wesleyan.cafebonappetit.com/"> Summerfields</a>,</i> and many others. For more information about what exactly is going on under the hood, check out the <a href="/about">about page</a>.
            </p>

            <!-- <p>Wes API scrapes, aggregates, and serves data from sources including Wesleying, Wesleyan Events, Wesleyan Film Series, Usdan, Summerfields</p> -->
        </div>
        <div class="unit-push-right unit-40" id="statusometer">
            <h2 class="sectionHeader">STATUS-O-METER!</h2>
            <div class="statusdiv">
                <h4>Events:</h4>
                <span id="events_status" class="label label-outline label-green">Nominal</span>
                <div id="events_updated"></div>
            </div>
            <div class="statusdiv">
                <h4>Film Series:</h4>
                <span id="film_series_status" class="label label-outline label-green">Nominal</span>
                <div id="film_series_updated"></div>
            </div>
            <div class="statusdiv">
                <h4>Menus:</h4>
                <span id="menus_status" class="label label-outline label-green">Nominal</span>
                <div id="menus_updated"></div>
            </div>
            <div class="statusdiv">
                <h4>Directory:</h4>
                <span id="directory_status" class="label label-outline label-red">Offline</span>
                <div id="directory_updated"></div>
            </div>
        </div>
    </div>
    <div class="units-row units-padding" id="maincontainer">
        <div class="unit-50">
            <h3 class="sectionHeader">Here's: The Next Film Series</h3>
            <div class="randomData"></div>
        </div>
        <div class="unit-push-right unit-40" id="userreviews">
            <h3 class="sectionHeader"><i>What are users saying?</i>
            </h3>
            <blockquote>
                Lonnie: Much data.
                <br>Prancer: So data.
                <br>Crinkles: Very data.
                <br>Wilfred: Such consensus.
                <br>Puddles: Wow.
            </blockquote>
        </div>
    </div>
    {% endblock %}

    <!-- </body> -->

    <!-- </html> -->
