{% extends "layout.html" %} {% set active_page = "sandbox" %} {% block title %}Sandbox{% endblock %} {% block head %} {{ super() }}
<script src="/static/sandbox.js"></script>
<link rel="stylesheet" href="/static/sandbox.css">{% endblock %} {% block content %}

<body>
    <div id="title">
        <h1>&ltThe Sandbox&gt</h1>
    </div>
    <div id="subtitle">
        <h3>The Super Duper Request Tester</h3>
    </div>
    <div id="maincontainer">
        <nav class="nav-tabs">
            <ul>
                <li><a href="#">Menus</a>
                </li>
                <li>
                    <span>Events</span>
                </li>
            </ul>
        </nav>
        <form method="get" action="" class="forms">
            <fieldset>
                <legend>Select an API option</legend>
                <div id="radioHolder">
                    <label for="subtypeSelect">Today</label>
                    <input type="radio" name="subtypeSelect" id="radio-1">
                </div>
                <div id="radioHolder">
                    <label for="subtypeSelect">Latest</label>
                    <input type="radio" name="subtypeSelect" id="radio-1">
                </div>
                <div id="radioHolder">
                    <label for="subtypeSelect">Search</label>
                    <input type="radio" name="subtypeSelect" id="radio-1">
                </div>
            </fieldset>

            <fieldset id="eventsLatest">
                <legend>Optional Fields</legend>
                <label>
                    Source
                    <input type="text" name="source" class="width-50" />
                    <div class="forms-desc">Choose from Wesleying or Wesleyan Events. Default is both.</div>
                </label>
                <label>
                    Max Results
                    <input type="text" name="maxResults" class="width-50" />
                    <div class="forms-desc">Enter a number from 1-100. Default is 30?</div>
                </label>
            </fieldset>
            <p>
                <input type="submit" class="btn" value="Submit" />
            </p>
        </form>
        <fieldset id="results">
            <legend>Results</legend>
            <div id="json">

            </div>
        </fieldset>
    </div>

    {% endblock %}

    <!-- </body> -->

    <!-- </html> -->
