{% extends "layout.html" %} {% set active_page = "about" %} {% block title %}About{% endblock %} {% block head %} {{ super() }}
<!-- <link rel="stylesheet" href="/static/sandbox.css"> -->
{% endblock %} {% block content %}

<body>
    <div id="title">
        <h3>About! Why this exists, what problems it addresses, where this could go next, what this could inspire app wise, and who was involved, etc. What to add-- menus, etc. Event scraping based off "Weshappening", a WesHack project. Summerfields and Late Night used with permission from "FoodyCall", another WesHack project. Film Series data provided with permission from the Wesleyan Film Department. Directory information manually aggregated from all across the web. Code @github.. CONTACT via aplave@wesleyan.edu. Built and maintained by Aaron Plave, class of 2015, with contributions from.</h3>
    </div>
</body>

{% endblock %}
