{% extends "layout.html" %} {% set active_page = "documentation" %} {% block title %}Documentation{% endblock %} {% block head %} {{ super() }}
<script src="/static/documentation.js"></script>
<script src="/static/prism.js"></script>
<link rel="stylesheet" href="/static/documentation.css">
<link href="/static/prism.css" rel="stylesheet" />{% endblock %} {% block content %}

<body>
    <div id="title">
        <h2>Documentation</h2>
    </div>
    <div class="units-row">
        <nav class="nav unit-25" id="apiNav">
            <ul>
                <li><a id="navGeneral" class="active" href="#General">General Usage</a>
                </li>
                <li><a id="navStatus" class="inactive" href="#Status">Status</a>
                </li>
                <li><a id="navEvents" class="inactive" href="#Events">Events</a>
                </li>
                <li><a id="navMenus" class="inactive" href="#Menus">Menus</a>
                </li>
                <li><a id="navFilmSeries" class="inactive" href="#FilmSeries">Film Series</a>
                </li>
                <li><a id="navDirectory" class="inactive" href="#Directory">Directory</a>
                </li>
            </ul>
        </nav>
        <div class="unit-60" id="docsContainer">
            <div id="docsGeneral">
                <h1 class="docsTitle">General Usage</h1>
                <div>
                    <p>
                        Welcome to the docs! Here you'll find lots information and examples regarding how to use the API along with any specific details you should know about each part of the API.
                    </p>
                </div>
                <div>
                    <p>
                        <h4 class="subtitle">Querying</h4> All API options are in <a class="text-link" target="_blank" href="http://en.wikipedia.org/wiki/JSON">JSON format</a> and can be accessed under the route:
                        <br>
                        <code class="smallcode">http://wesapi.org/api/...</code>
                        <br><i>Note: All requests must be of type GET.</i>
                    </p>
                </div>
                <div>
                    <p>
                        <h4 class="subtitle">Example</h4>
                        <i>Fetching all films</i>
                        <br>
                        <div class="div-language"><b>javascript</b>
                        </div>
                        <code class="language-javascript codeblock">function get_films() {
    $.getJSON("http://wesapi.org/api/filmseries/all", function(res) {
        if (!(res)) {
            alert("No response");
        } else {
            alert("Got response");
            console.log(res)
        }
    });
}
</code>

                        <div class="div-language"><b>python</b>
                        </div>
                        <code class="language-python codeblock">import requests
r = requests.get("http://wesapi.org/api/filmseries/all")
if r.status_code == 200:
    try:
        json_data = r.json()
        print json_data
    except:
        print "Unable to jsonify request data"
else:
    print "Request error: code =",r.status_code</code>
                        <br>
                    </p>
                </div>
                <div>
                    <p>
                        <h4 class="subtitle">API Types</h4> Some of the sources in the Wes API are fairly static, meaning they only require a once-per-semester data fetch. Other sources are constantly being updated and as a result require more regular fetches. You can find out more about this in the description section of any particular API type.
                    </p>
                </div>
                <div>
                    <p>
                        <h4 class="subtitle">Errors</h4> If a query is invalid or the server is for some reason unable to process it, you will receive a response in the form {ERROR: ERROR_MESSAGE}.
                    </p>
                </div>
                <div>
                    <p>
                        <h4 class="subtitle">Rate Limits</h4> For the time being, the Wes API is not rate limited, so please be kind to our server and limit unnecessary requests by storing reusable data on the client side.
                    </p>
                </div>
            </div>
            <div id="docsStatus" hidden="true">
                <h1 class="docsTitle">Status</h1>
                <div>
                    <p>
                        The Status API provides information regarding the status of each API, including the last update time and a value representing whether or not the API is functioning.
                    </p>
                </div>
                <div>
                    <h4 class="subtitle">/api/status</h4>
                    <span class="span-h6"><h6>Description</h6></span>
                    <div class="main-container">
                        <p>Returns information regarding the status of each API option.</p>
                    </div>
                    <span class="span-h6"><h6>Format</h6></span>
                    <div class="main-container"><code id="json-status" class="json"></code>
                    </div>
                    <br>
                    <span class="span-h6"><h6>Fields</h6></span>
                    <div class="main-container">
                        <p class="main-p">The status response contains key for every API option (<i>directory, menus, events</i>, and <i>filmseries</i>).
                        </p>
                        <p class="main-p">
                            <b>status</b> |
                            <var>BOOLEAN</var>
                            <br> Indicates whether or not the parent API source was successfully scraped.
                        </p>
                        <p class="main-p">
                            <b>time</b> |
                            <var>TIMESTRING</var>
                            <br>The last successful scraping/manual update time of the parent API source. This can be parsed by most date libraries, including Javascript's 'Date' object.
                        </p>
                    </div>
                </div>
            </div>
            <div id="docsEvents" hidden="true">
                <h1 class="docsTitle">Events</h1>
                <div>
                    <p>
                        The Events API provides event data scraped regularly from <a class="text-link" href="wesleying.org">Wesleying</a> and <a class="text-link" href="http://events.wesleyan.edu/">Wesleyan Events</a>.
                    </p>
                </div>
                <div>
                    <h4 class="subtitle">/api/events/today</h4>
                    <span class="span-h6"><h6>Description</h6></span>
                    <div class="main-container">
                        <p>Returns a list of today's events.</p>
                    </div>
                    <span class="span-h6"><h6>Format</h6></span>
                    <div class="main-container">
                        <p>
                            <code id="json-events" class="json"></code>
                        </p>
                    </div>
                    <span class="span-h6"><h6>Fields</h6></span>
                    <div class="main-container">
                        <p class="main-p">
                            <b>Result Count</b> |
                            <var>INTEGER</var>
                            <br>The number of results in the response.
                        </p>
                        <p class="main-p">
                            <b>Results</b> |
                            <var>ARRAY</var>
                            <br>Each element represents an event and has several fields, some of which are not guaranteed to be populated (more on that below) since parts of the event scrapers are based off Regular Expressions.
                        </p>
                        <p class="main-p">
                            <b>category</b> |
                            <var>STRING</var>
                            <br>The category of the event (such as <i>theater, student group, sports, etc.</i>) as best classified by the event scrapers.
                        </p>
                        <p class="main-p">
                            <b>description</b> |
                            <var>STRING</var>
                            <br>A short description found for the event. Note that these descriptions can vary significantly in length.
                        </p>
                        <p class="main-p">
                            <b>source</b> |
                            <var>STRING</var>
                            <br>The source from which the event was scraped (either 'Wesleying' or 'Wesleyan Events').
                        </p>
                        <p class="main-p">
                            <b>link</b> |
                            <var>URL</var>
                            <br>The original link to the blog post or story from which the event was scraped. Note: this field is not guaranteed to be populated.
                        </p>
                        <p class="main-p">
                            <b>location</b> |
                            <var>STRING</var>
                            <br>The location of the event. Note: this field is not guaranteed to be populated or correct but is fairly reliable.
                        </p>
                        <p class="main-p">
                            <b>time</b> |
                            <var>TIMESTRING</var>
                            <br>The start time of the event.
                        </p>
                        <p class="main-p">
                            <b>name</b> |
                            <var>STRING</var>
                            <br>The name of the event.
                        </p>
                    </div>
                </div>
                <br>
                <h4 class="subtitle">/api/events/latest</h4>
                <span class="span-h6"><h6>Description</h6></span>
                <div class="main-container">
                    <p>Returns a list of the latest events. Includes <b>optional</b> parameters to limit the number of results and limit results to one particular source.</p>
                </div>
                <span class="span-h6"><h6>Parameters</h6></span>
                <div class="main-container">
                    <p class="main-p">
                        <b>source</b> |
                        <var>STRING</var>
                        <br>Restricts results to the specified source (either Wesleying or Wesleyan Events).
                    </p>
                    <p class="main-p">
                        <b>maxresults</b> |
                        <var>INTEGER</var>
                        <br>The max number of results to return. This value is 100 by default but can be specified to be anything between 1-100.
                    </p>
                </div>
                <span class="span-h6"><h6>Format</h6></span>
                <div class="main-container">
                    <p>Format follows format of <b>/api/events/today</b>
                    </p>
                </div>
                <span class="span-h6"><h6>Fields</h6></span>
                <div class="main-container">
                    <p>Format follows fields of <b>/api/events/today</b>
                    </p>
                </div>
                <h4 class="subtitle">/api/events/search</h4>
                <span class="span-h6"><h6>Description</h6></span>
                <div class="main-container">
                    <p>Returns a list of events best matching search parameters. All parameters are <b>optional</b>.
                    </p>
                </div>
                <span class="span-h6"><h6>Parameters</h6></span>
                <div class="main-container">
                    <p class="main-p">
                        <b>source</b> |
                        <var>STRING</var>
                        <br>Restricts results to the specified source (either Wesleying or Wesleyan Events).
                    </p>
                    <p class="main-p">
                        <b>maxresults</b> |
                        <var>INTEGER</var>
                        <br>The max number of results to return. This value is 100 by default but can be specified to be anything between 1-100.
                    </p>
                    <p class="main-p">
                        <b>title</b> |
                        <var>STRING</var>
                        <br>The title of the event. Note: this field supports 'best matching' using Python's difflib SequenceMatcher so your queries do not have to be exact matches.
                    </p>
                    <p class="main-p">
                        <b>location</b> |
                        <var>STRING</var>
                        <br>The title of the event. Note: this field supports 'best matching'.
                    </p>
                    <p class="main-p">
                        <b>timefrom</b> |
                        <var>TIME</var>
                        <br>Filters out any events with times before timefrom. Format is mm-dd-yyyy. For example, 01-30-1970.
                    </p>
                    <p class="main-p">
                        <b>timeuntil</b> |
                        <var>TIME</var>
                        <br>Filters out any events with times after timeuntil. Format is mm-dd-yyyy. Can be used in conjunction with timefrom to specify a time range.
                    </p>
                    <p class="main-p">
                        <b>category</b> |
                        <var>STRING</var>
                        <br>Filters out any events not in the specified category. Currently, category searching is difficult unless you know the categories before hand or just guess. A future category api route is planned to support fetching all known categories. Note: this field supports 'best matching'.
                    </p>
                </div>
                <span class="span-h6"><h6>Format</h6></span>
                <div class="main-container">
                    <p>Format follows format of <b>/api/events/today</b>
                    </p>
                </div>
                <span class="span-h6"><h6>Fields</h6></span>
                <div class="main-container">
                    <p>Format follows fields of <b>/api/events/today</b>
                    </p>
                </div>
            </div>
            <div id="docsMenus" hidden="true">
                <h1 class="docsTitle">Menus</h1>
                <div>
                    <p>
                        The Menu API provides up-to-date menus from Usdan, Summerfields, Late Night, and Red & Black. Usdan data is scraped daily, meaning it is somewhat variable and will at times not provide any data. Summerfields, Late Night, and Red & Black are manually entered every semester and can always be expected to provide data. Includes an <b>optional</b> parameter to limit the number of Usdan results.</p>
                    </p>
                </div>
                <div>
                    <h4 class="subtitle">/api/menus/all</h4>
                    <span class="span-h6"><h6>Description</h6></span>
                    <div class="main-container">
                        <p>Returns all menus from both static and scraped sources.</p>
                    </div>
                    <span class="span-h6"><h6>Format</h6></span>
                    <div class="main-container"><code id="json-menus" class="json"></code>
                    </div>
                    <br>
                    <span class="span-h6"><h6>Parameters</h6></span>
                    <div class="main-container">
                        <p class="main-p">
                            <b>maxresults</b> |
                            <var>INTEGER</var>
                            <br>The max number of Usdan results (i.e. days) to return. This value is 100 by default but can be specified to be anything between 1-100.
                        </p>
                    </div>
                    <span class="span-h6"><h6>Fields</h6></span>
                    <div class="main-container">
                        <b><i>Usdan Data</i></b>
                        <p class="main-p">
                            <b>time</b> |
                            <var>TIMESTRING</var>
                            <br>The day of the menu.
                        </p>
                        <p class="main-p">
                            <b>breakfast/brunch/lunch/dinner</b> |
                            <var>ARRAY</var>
                            <br>These keys are optional and depend on the day and time of year. Each one contains an array of menu categories. Each menu category has a key representing the name of the category, such as 'classics' or 'pastabilities'. The value of each category key is an array of menu items. Each menu item has two fields: 'title' and 'extra', representing the name of the item and any additional information associated with that item, respectively.
                        </p>
                        <br>
                        <b><i>Summerfields & Late Night Data</i></b>
                        <p class="main-p">
                            <b>title</b> |
                            <var>STRING</var>
                            <br>The name of the item.
                        </p>
                        <p class="main-p">
                            <b>filter</b> |
                            <var>STRING</var>
                            <br>Vegan, vegetarian, or none.
                        </p>
                        <p class="main-p">
                            <b>price</b> |
                            <var>STRING</var>
                            <br>The price of the item.
                        </p>
                        <p class="main-p">
                            <b>description</b> |
                            <var>STRING</var>
                            <br>A description of the item.
                        </p>
                        <br>
                        <b><i>Red & Black Data</i></b>
                        <p class="main-p">
                            <b>name</b> |
                            <var>STRING</var>
                            <br>The name of the item
                        </p>
                        <p class="main-p">
                            <b>data</b> |
                            <var>OBJECT</var>
                            <br>Contains various fields regarding the item, all of which are guaranteed to exist.
                        </p>
                        <p class="main-p">
                            <b>info</b> |
                            <var>STRING</var>
                            <br>A description of the item.
                        </p>
                        <p class="main-p">
                            <b>category</b> |
                            <var>STRING</var>
                            <br>The category of the item.
                        </p>
                        <p class="main-p">
                            <b>price</b> |
                            <var>STRING</var>
                            <br>The price of the item.
                        </p>
                    </div>
                </div>
            </div>
            <div id="docsFilmSeries" hidden="true">
                <h1 class="docsTitle">Film Series</h1>
                <div>
                    <p>
                        The Film Series API provides manually entered semesterly data on the Wesleyan Film Series.
                    </p>
                </div>
                <div>
                    <h4 class="subtitle">/api/filmseries/all</h4>
                    <span class="span-h6"><h6>Description</h6></span>
                    <div class="main-container">
                        <p>Returns all films.</p>
                    </div>
                    <span class="span-h6"><h6>Format</h6></span>
                    <div class="main-container"><code id="json-film_series" class="json"></code>
                    </div>
                    <br>
                    <span class="span-h6"><h6>Fields</h6></span>
                    <div class="main-container">
                        <p class="main-p">
                            <b>Result Count</b> |
                            <var>INTEGER</var>
                            <br>The number of results in the response.
                        </p>
                        <p class="main-p">
                            <b>Results</b> |
                            <var>ARRAY</var>
                            <br>Each element represents a film and has two fields: 'name' and 'data'.
                        </p>
                        <p class="main-p">
                            <b>name</b> |
                            <var>STRING</var>
                            <br>The title of the film.
                        </p>
                        <p class="main-p">
                            <b>data</b> |
                            <var>OBJECT</var>
                            <br>An object containing several fields of information related to the film. All fields are guaranteed to be populated.
                        </p>
                        <p class="main-p">
                            <b>short</b> |
                            <var>STRING</var>
                            <br>A short description of the film containing year of release, where the film is from, the director, the length of the film, and other small notes.
                        </p>
                        <p class="main-p">
                            <b>imdb</b> |
                            <var>URL</var>
                            <br>A link to the imdb page for the film.
                        </p>
                        <p class="main-p">
                            <b>long</b> |
                            <var>STRING</var>
                            <br>The Wesleyan Film Series description of the film.
                        </p>
                        <p class="main-p">
                            <b>time</b> |
                            <var>TIMESTRING</var>
                            <br>The start time of the film.
                        </p>
                    </div>
                    <h4 class="subtitle">/api/filmseries/today</h4>
                    <span class="span-h6"><h6>Description</h6></span>
                    <div class="main-container">
                        <p>Returns today's film if one exists.</p>
                    </div>
                    <span class="span-h6"><h6>Format</h6></span>
                    <p class="main-container">
                        Follows format of <b>/api/filmseries/all</b>
                    </p>
                    <span class="span-h6"><h6>Fields</h6></span>
                    <p class="main-container">
                        Follows fields of <b>/api/filmseries/all</b>
                    </p>
                </div>
            </div>
            <div id="docsDirectory" hidden="true">
                <h1 class="docsTitle">Directory</h1>
                <div>
                    <p>
                        The Directory API provides manually collected hours of operation, phone numbers, and other information about Wesleyan services and facilities. Note: not all data guaranteed to exist and the data is not necessarily reliable for non-standard times of the year such as breaks and holidays.
                    </p>
                </div>
                <div>
                    <h4 class="subtitle">/api/directory</h4>
                    <span class="span-h6"><h6>Description</h6></span>
                    <div class="main-container">
                        <p>Returns all directory entries.</p>
                    </div>
                    <span class="span-h6"><h6>Format</h6></span>
                    <div class="main-container"><code id="json-directory" class="json"></code>
                    </div>
                    <br>
                    <span class="span-h6"><h6>Fields</h6></span>
                    <div class="main-container">
                        <p class="main-p">
                            <b>Result Count</b> |
                            <var>INTEGER</var>
                            <br>The number of results in the response.
                        </p>
                        <p class="main-p">
                            <b>Results</b> |
                            <var>ARRAY</var>
                            <br>Each element represents a directory item and has two fields: 'name' and 'data'.
                        </p>
                        <p class="main-p">
                            <b>name</b> |
                            <var>STRING</var>
                            <br>The title of the directory item.
                        </p>
                        <p class="main-p">
                            <b>data</b> |
                            <var>OBJECT</var>
                            <br>An object containing several fields of information related to the directory item. Not all fields are guaranteed to be populated due to the variable nature of the data.
                        </p>
                        <p class="main-p">
                            <b>hours</b> |
                            <var>ARRAY</var>
                            <br>An array of strings, each representing a time-block of hours of operations, such as "Monday - Friday, 6:45am - 8:45pm".
                        </p>
                        <p class="main-p">
                            <b>category</b> |
                            <var>STRING</var>
                            <br>The category of the directory item.
                        </p>
                        <p class="main-p">
                            <b>info</b> |
                            <var>ARRAY</var>
                            <br>An array of strings, each being a piece of additional information such as a phone number or an email address.
                        </p>
                    </div>
                </div>
            </div>
</body>

{% endblock %}
