{% extends "layout.html" %} {% set active_page = "documentation" %} {% block title %}Documentation{% endblock %} {% block head %} {{ super() }}
<script src="/static/documentation.js"></script>
<link rel="stylesheet" href="/static/documentation.css">{% endblock %} {% block content %}

<body>
    <div id="title">
        <h2>Documentation</h2>
    </div>
    <div class="units-row">
        <nav class="nav unit-25" id="apiNav">
            <ul>
                <li><a id="navGeneral" class="active" href="#General">General Usage</a>
                </li>
                <li><a id="navStatus" class="inactive" href="#Status">Status</a>
                </li>
                <li><a id="navEvents" class="inactive" href="#Events">Events</a>
                </li>
                <li><a id="navMenus" class="inactive" href="#Menus">Menus</a>
                </li>
                <li><a id="navFilmSeries" class="inactive" href="#FilmSeries">Film Series</a>
                </li>
                <li><a id="navHours" class="inactive" href="#Hours">Hours</a>
                </li>
            </ul>
        </nav>
        <div class="unit-60" id="docsContainer">
            <div id="docsGeneral">
                <h1 class="docsTitle">General Usage</h1>
                <div>
                    <p>
                        Welcome to the docs! Here you'll find lots information and examples regarding how to use the API along with any specific details you should know about each part of the API.
                    </p>
                </div>
                <div>
                    <p>
                        <h4 class="subtitle">Querying</h4>
                        All API options can be accessed under the route:
                        <code>http://wesapi.org/api/...</code>
                        <br><i>Note: All requests must be of type GET.</i>
                    </p>
                </div>
                <div>
                    <p>
                        <h4 class="subtitle">API Types</h4>
                        Some of the sources in the Wes API are fairly static, meaning they only require a once-per-semester data fetch. Other sources are constantly being updated and as a result require more regular fetches. You can find out more about this in the description section of any particular API type.
                    </p>
                </div>
                <div>
                    <p>
                        <h4 class="subtitle">Rate Limits</h4>
                        For the time being, the Wes API is not rate limited, so please be kind to our server and limit unnecessary requests by storing reusable data on the client side.
                    </p>
                </div>
            </div>
            <div id="docsStatus" hidden="true">
                <h1 class="docsTitle">Status</h1>
                <div>
                    <p>
                        The Status API provides information regarding the status of each API, including the last update time and a value representing whether or not the API is functioning.
                    </p>
                </div>
                <div>
                    <p>
                        <h4 class="subtitle">/api/status</h4>
                        <h6>Description</h6>
                        <p>Returns the last update time for each API as</p>
                    </p>
                </div>
            </div>
            <div id="docsEvents" hidden="true">
                <h1 class="docsTitle">Events</h1>
                <div>
                    <p>

                    </p>
                </div>
            </div>
            <div id="docsMenus" hidden="true">
                <h1 class="docsTitle">Menus</h1>
                <div>
                    <p>

                    </p>
                </div>
            </div>
            <div id="docsFilmSeries" hidden="true">
                <h1 class="docsTitle">Film Series</h1>
                <div>
                    <p>

                    </p>
                </div>
            </div>
            <div id="docsHours" hidden="true">
                <h1 class="docsTitle">Hours</h1>
                <div>
                    <p>

                    </p>
                </div>
            </div>
        </div>
    </div>
</body>

{% endblock %}
