{% extends "layout.html" %} {% set active_page = "sandbox" %} {% block title %}Sandbox{% endblock %} {% block head %} {{ super() }}
<script src="/static/sandbox.js"></script>
<script src="/static/bootstrap-datepicker.js"></script>
<link rel="stylesheet" href="/static/sandbox.css">
<link rel="stylesheet" href="/static/datepicker.css">{% endblock %} {% block content %}

<body>
    <div id="title">
        <h1>&ltAPI Sandbox &gt</h1>
    </div>
    <div id="subtitle">
        <h3>The Super Duper Request Tester</h3>
    </div>
    <div id="maincontainer">
        <nav class="nav-tabs">
            <ul>
                <li>
                    <a id="menusAPITab" href="#menus">Menus</a>
                    <span id="menusAPITab" class="hiddenAPI">Menus</span>
                </li>
                <li>
                    <a id="eventsAPITab" class="hiddenAPI" href="#events">Events</a>
                    <span id="eventsAPITab">Events</span>
                </li>
                <li>
                    <a id="filmseriesAPITab" href="#filmseries">Film Series</a>
                    <span id="filmseriesAPITab" class="hiddenAPI">Film Series</span>
                </li>
                <li>
                    <a id="directoryAPITab" href="#directory">Directory</a>
                    <span id="directoryAPITab" class="hiddenAPI">Directory</span>
                </li>
            </ul>
        </nav>
        <div id="menusAPI" hidden="true">
            <form id="subtypeSelect">
                <fieldset>
                    <legend>Select an API option</legend>
                    <div id="radioHolder">
                        <label for="radio-subtype">All</label>
                        <input type="radio" name="radio-subtype" id="menusAll">
                    </div>
                </fieldset>
            </form>
            <form method="get" action="api/menus/all" class="forms" id="menusAllForm" hidden="true">
                <fieldset>
                    <legend>Optional Fields</legend>
                    <!--   <label>
                        Source
                        <input type="text" name="source" class="width-50" />
                        <div class="forms-desc">Choose from Wesleying or Wesleyan Events. Default is both.</div>
                    </label> -->
                    <label>
                        Max Results
                        <input type="text" name="maxresults" class="width-50" />
                        <div class="forms-desc">Enter a number from 1-100. Default is 100?</div>
                    </label>
                </fieldset>
                <p>
                    <input type="submit" class="btn" value="Submit" />
                </p>
            </form>
        </div>
        <div id="eventsAPI">
            <form id="subtypeSelect">
                <fieldset>
                    <legend>Select an API option</legend>
                    <div id="radioHolder">
                        <label for="radio-subtype">Latest</label>
                        <input type="radio" name="radio-subtype" id="eventsLatest">
                    </div>
                    <div id="radioHolder">
                        <label for="radio-subtype">Today</label>
                        <input type="radio" name="radio-subtype" id="eventsToday" checked>
                    </div>
                    <div id="radioHolder">
                        <label for="radio-subtype">Search</label>
                        <input type="radio" name="radio-subtype" id="eventsSearch">
                    </div>
                </fieldset>
            </form>
            <form method="get" action="api/events/latest" class="forms" id="eventsLatestForm" hidden="true">
                <fieldset>
                    <legend>Optional Fields</legend>
                    <label>
                        Source
                        <input type="text" name="source" class="width-50" />
                        <div class="forms-desc">Choose from Wesleying or Wesleyan Events. Default is both.</div>
                    </label>
                    <label>
                        Max Results
                        <input type="text" name="maxresults" class="width-50" />
                        <div class="forms-desc">Enter a number from 1-100. Default is 30?</div>
                    </label>
                </fieldset>
                <p>
                    <input type="submit" class="btn" value="Submit" />
                </p>
            </form>
            <form method="get" action="api/events/today" hidden="true" class="forms" id="eventsTodayForm">
                <fieldset>
                    <legend>Fields</legend>
                    <label>
                        No fields for this option.
                    </label>
                </fieldset>
                <p>
                    <input type="submit" class="btn" value="Submit" />
                </p>
            </form>
            <form method="get" action="api/events/search" class="forms" id="eventsSearchForm" hidden="true">
                <fieldset>
                    <legend>Optional Fields</legend>
                    <label>
                        Source
                        <input type="text" name="source" class="width-50" />
                        <div class="forms-desc">Choose from Wesleying or Wesleyan Events. Default is both.</div>
                    </label>
                    <label>
                        Max Results
                        <input type="text" name="maxresults" class="width-50" />
                        <div class="forms-desc">Enter a number from 1-100. Default is 30?</div>
                    </label>
                    <label>
                        Title
                        <input type="text" name="title" class="width-50" />
                        <div class="forms-desc">Search by title</div>
                    </label>
                    <label>
                        Location
                        <input type="text" name="location" class="width-50" />
                        <div class="forms-desc">Search by location</div>
                    </label>
                    <label>
                        Time From
                        <input type="text" name="timeFrom" class="width-50" id="eventSearchTimeFrom"/>
                        <div class="forms-desc">Return only results equal or more recent than the given time</div>
                    </label>
                    <label>
                        Time Until
                        <input type="text" name="timeUntil" class="width-50" id="eventSearchTimeUntil"/>
                        <div class="forms-desc">Return only results equal or older than the given time</div>
                    </label>
                    <label>
                        Category (TODO GIVE CATEGORIES?)
                        <input type="text" name="category" class="width-50" />
                        <div class="forms-desc">Search by Category</div>
                    </label>
                    <p>
                        <input type="submit" class="btn" value="Submit" />
                    </p>
                </fieldset>
            </form>
        </div>
        <div id="filmseriesAPI" hidden="true">
            <form id="subtypeSelect">
                <fieldset>
                    <legend>Select an API option</legend>
                    <div id="radioHolder">
                        <label for="radio-subtype">Today</label>
                        <input type="radio" name="radio-subtype" id="filmseriesToday" checked>
                    </div>
                    <div id="radioHolder">
                        <label for="radio-subtype">All</label>
                        <input type="radio" name="radio-subtype" id="filmseriesAll">
                    </div>
                </fieldset>
            </form>
            <form method="get" action="api/filmseries/all" class="forms" id="filmseriesAllForm" hidden="true">
                <fieldset>
                    <legend>Fields</legend>
                    <label>
                        No fields for this option.
                    </label>
                </fieldset>
                <p>
                    <input type="submit" class="btn" value="Submit" />
                </p>
            </form>
            <form method="get" action="api/filmseries/today" class="forms" id="filmseriesTodayForm">
                <fieldset>
                    <legend>Fields</legend>
                    <label>
                        No fields for this option.
                    </label>
                </fieldset>
                <p>
                    <input type="submit" class="btn" value="Submit" />
                </p>
            </form>
        </div>
        <div id="directoryAPI" hidden="true">
            <form id="subtypeSelect">
                <fieldset>
                    <legend>Select an API option</legend>
                    <div id="radioHolder">
                        <label for="radio-subtype">All</label>
                        <input type="radio" name="radio-subtype" id="directoryAll" checked>
                    </div>
                </fieldset>
            </form>
            <form method="get" action="api/directory" class="forms" id="directoryAllForm" hidden="true">
                <fieldset>
                    <legend>Fields</legend>
                    <label>
                        No fields for this option.
                    </label>
                </fieldset>
                <p>
                    <input type="submit" class="btn" value="Submit" />
                </p>
            </form>
        </div>
        <fieldset id="results" hidden="true">
            <legend>Results</legend>
            <label>
                Request URL
                <input type="text" id="resultUrl" value="" class="width-50"></input>
                <div class="forms-desc">This url was used to fetch the data you see below from the API</div>
            </label>

            <div id="json">
            </div>
        </fieldset>
    </div>

    {% endblock %}

    <!-- </body> -->

    <!-- </html> -->
